customCommands:
  - key: '<c-g>'
    context: 'files'
    description: 'Generate commit message with Ollama'
    command: '~/.local/bin/lazygit-ollama-commit.sh'
    loadingText: 'Generating commit message with Ollama...'
    output: terminal
{{ if lookPath "delta" -}}
git:
  # Only rendered when delta is installed
  pager: delta --dark --paging=never
{{- end }}
