{{- /* bat's "dots" theme, either the curated .chezmoitemplates/themes/<name>/
       bat.tmTheme port or, for `dots wallpaper` generated themes
       (kind: generated, which carry no curated per-tool ports), a tmTheme
       derived from the generated windows_terminal.json palette via
       .chezmoitemplates/gen-palette.tmpl. */ -}}
{{- $name := includeTemplate ".chezmoitemplates/machine-theme-name.tmpl" . -}}
{{- $gen := false -}}
{{- if hasKey .themes $name -}}{{- $tk := index .themes $name -}}{{- if and (hasKey $tk "kind") (eq (index $tk "kind") "generated") -}}{{- $gen = true -}}{{- end -}}{{- end -}}
{{- if $gen }}
{{- $p := includeTemplate ".chezmoitemplates/gen-palette.tmpl" $name | fromJson -}}
{{- $scopes := list
    (list "Comment" "comment, punctuation.definition.comment" $p.brightBlack)
    (list "String" "string, constant.other.symbol" $p.green)
    (list "Number" "constant.numeric" $p.yellow)
    (list "Constant / Boolean" "constant.language, constant.other" $p.cyan)
    (list "Keyword" "keyword, keyword.control, storage, storage.type, storage.modifier" $p.purple)
    (list "Function / Method" "entity.name.function, support.function, meta.function-call" $p.blue)
    (list "Type / Class" "entity.name.type, entity.name.class, support.type, support.class" $p.brightCyan)
    (list "Variable / Parameter" "variable, variable.parameter, variable.other" $p.foreground)
    (list "Tag" "entity.name.tag, meta.tag" $p.brightBlue)
    (list "Attribute" "entity.other.attribute-name" $p.yellow)
    (list "Operator / Punctuation" "keyword.operator, punctuation" $p.brightBlack)
    (list "Invalid" "invalid, invalid.illegal" $p.red)
    (list "Diff Added" "markup.inserted, diff.inserted" $p.brightGreen)
    (list "Diff Removed" "markup.deleted, diff.deleted" $p.brightRed)
}}
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>Generated by dots wallpaper (matugen)</string>
	<key>colorSpaceName</key>
	<string>sRGB</string>
	<key>name</key>
	<string>{{ $p.name }}</string>
	<key>semanticClass</key>
	<string>dots.theme.{{ $name }}</string>
	<key>settings</key>
	<array>
		<dict>
			<key>settings</key>
			<dict>
				<key>background</key>
				<string>{{ $p.background }}</string>
				<key>foreground</key>
				<string>{{ $p.foreground }}</string>
				<key>caret</key>
				<string>{{ $p.foreground }}</string>
				<key>invisibles</key>
				<string>{{ $p.brightBlack }}</string>
				<key>lineHighlight</key>
				<string>{{ $p.selectionBackground }}</string>
				<key>selection</key>
				<string>{{ $p.selectionBackground }}</string>
				<key>selectionBorder</key>
				<string>{{ $p.foreground }}</string>
				<key>findHighlight</key>
				<string>{{ $p.yellow }}</string>
				<key>findHighlightForeground</key>
				<string>{{ $p.background }}</string>
				<key>gutterForeground</key>
				<string>{{ $p.brightBlack }}</string>
				<key>activeGuide</key>
				<string>{{ $p.brightBlack }}</string>
				<key>guide</key>
				<string>{{ $p.brightBlack }}</string>
			</dict>
		</dict>
{{- range $scope := $scopes }}
		<dict>
			<key>name</key>
			<string>{{ index $scope 0 }}</string>
			<key>scope</key>
			<string>{{ index $scope 1 }}</string>
			<key>settings</key>
			<dict>
				<key>foreground</key>
				<string>{{ index $scope 2 }}</string>
			</dict>
		</dict>
{{- end }}
	</array>
	<key>uuid</key>
	<string>dots-generated-{{ $name }}</string>
</dict>
</plist>
{{- else }}
{{- include (printf ".chezmoitemplates/themes/%s/bat.tmTheme" $name) -}}
{{- end }}
