@define-color bg #060912;
@define-color fg #959aa4;
@define-color gray1 #6c8064;
@define-color gray2 #5f5f5f;
@define-color gray3 #6a7c94;
@define-color gray4 #88785c;
@define-color gray5 #8d718c;
@define-color fg_bright #a5aab4;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}