@define-color bg #000000;
@define-color fg #e9f4ff;
@define-color gray1 #a4c2e9;
@define-color gray2 #686163;
@define-color gray3 #7b789e;
@define-color gray4 #ffdcff;
@define-color gray5 #b19fce;
@define-color fg_bright #f5f3ff;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}