[delta]
  minus-style                   = syntax "${minus_bg}"
  minus-non-emph-style          = syntax "${minus_bg}"
  minus-emph-style              = syntax "${minus_emph_bg}"
  minus-empty-line-marker-style = syntax "${minus_bg}"
  line-numbers-minus-style      = "${red}"
  plus-style                    = syntax "${plus_bg}"
  plus-non-emph-style           = syntax "${plus_bg}"
  plus-emph-style               = syntax "${plus_emph_bg}"
  plus-empty-line-marker-style  = syntax "${plus_bg}"
  line-numbers-plus-style       = "${green}"
  line-numbers-zero-style       = "${muted}"
