export FZF_DEFAULT_OPTS="$$FZF_DEFAULT_OPTS \
  --highlight-line \
  --info=inline-right \
  --ansi \
  --layout=reverse \
  --border=none \
  --color=bg+:${selection} \
  --color=bg:${dark_background} \
  --color=border:${muted} \
  --color=fg:${foreground} \
  --color=gutter:${dark_background} \
  --color=header:${yellow} \
  --color=hl+:${cyan} \
  --color=hl:${cyan} \
  --color=info:${muted} \
  --color=marker:${magenta} \
  --color=pointer:${magenta} \
  --color=prompt:${cyan} \
  --color=query:${foreground}:regular \
  --color=scrollbar:${muted} \
  --color=separator:${yellow} \
  --color=spinner:${magenta} \
"
