gui:
  nerdFontsVersion: "3"
  theme:
    activeBorderColor:
      - "${accent}"
      - "bold"
    inactiveBorderColor:
      - "${muted}"
    searchingActiveBorderColor:
      - "${accent}"
      - "bold"
    optionsTextColor:
      - "${blue}"
    selectedLineBgColor:
      - "${selection}"
    cherryPickedCommitFgColor:
      - "${blue}"
    cherryPickedCommitBgColor:
      - "${magenta}"
    markedBaseCommitFgColor:
      - "${blue}"
    markedBaseCommitBgColor:
      - "${yellow}"
    unstagedChangesColor:
      - "${red}"
    defaultFgColor:
      - "${foreground}"
