# Add the following object to your Windows Terminal configuration
# https://learn.microsoft.com/en-us/windows/terminal/customize-settings/color-schemes#creating-your-own-color-scheme
{
    "background": "${background}",
    "black": "${black}",
    "blue": "${blue}",
    "brightBlack": "${bright_black}",
    "brightBlue": "${bright_blue}",
    "brightCyan": "${bright_cyan}",
    "brightGreen": "${bright_green}",
    "brightPurple": "${bright_magenta}",
    "brightRed": "${bright_red}",
    "brightWhite": "${bright_white}",
    "brightYellow": "${bright_yellow}",
    "cursorColor": "${cursor}",
    "cyan": "${cyan}",
    "foreground": "${foreground}",
    "green": "${green}",
    "name": "${label}",
    "purple": "${magenta}",
    "red": "${red}",
    "selectionBackground": "${selection}",
    "white": "${white}",
    "yellow": "${yellow}"
}
